.logoBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 36px;
  padding-right: 36px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(255,255,255);
}

.logo {
  max-height: 12vh;
  
}

.fontlogo {
  color: #212121;
  font-size: x-large;
  margin-top: 24px;

}
