.app {
  --primaryColor: #6554df;
}

body{
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.app {
  font-family: 'Inter', sans-serif;
  height: fit-content;
  width: 100vw;
  display: flex;
  color: #e9ecef;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register{
  max-width: 100rem;
  width: 100vw;
  display:inline;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  
}


.button {
  background-color: var(--primaryColor);
  height: 2.5rem;
  width: 95vw;
  max-width: 25rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  height: auto;
  width: 95vw;
  display:contents;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.inputField {
  width: 24rem;
  max-width: 94vw;
  height: 2.4rem;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 1vw;
  background-color: rgb(250, 248, 248);
  margin: 0;
}

.inputField::placeholder {
  color: rgb(160, 160, 160);
  /* padding-left: 1rem; */
}

.inputField:focus {
  background-color: white;
  outline: 1px solid rgba(0,0,0,0.3);
}
@media screen and (max-width: 860px)  {
  .register {
    display: block;
  }
}
